findspark==2.0.1
folium==0.17.0
geojson==3.1.0
graphviz==0.20.3
imbalanced-learn==0.12.3
ipyleaflet==0.19.2
ipywidgets==8.1.5
joblib==1.4.2
jupyterlab==4.2.5
matplotlib==3.9.2
numpy==1.26.4
pandas==2.2.3
pre-commit==3.8.0
pur==7.3.2
pydot==3.0.1
requests==2.32.3
ruff==0.6.7
scikit-image==0.24.0
scikit-learn==1.5.2
seaborn==0.13.2
Sphinx==7.4.7
sphinx-rtd-theme==2.0.0
tensorflow==2.17.0
TPOT==0.12.2
xgboost==2.1.1
