findspark==1.4.1
folium==0.11.0
geojson==2.5.0
graphviz==0.14
imbalanced-learn==0.6.2
ipyleaflet==0.13.0
ipywidgets==7.5.1
joblib==0.15.1
jupyterlab==2.1.4
matplotlib==3.2.1
numpy==1.18.5
pandas==1.0.4
pydot==1.4.1
requests==2.23.0
scikit-image==0.17.2
scikit-learn==0.23.1
seaborn==0.10.1
Sphinx==3.0.4
sphinx-rtd-theme==0.4.3
tensorflow==2.2.0
TPOT==0.11.5
xgboost==1.1.0
